body {
    background-color: #F5F5DC;
}

.section-cards {
    background-color: #f1f2f3;
    padding: 1rem;
}

main {
    padding-top: 6rem;
    max-width: 90vw;
    margin: 0 auto;
    padding: clamp(1.5rem, 1vw, 3rem );

    @media screen and (min-width: 1800px) {
        margin-left: 250px;
    }
}

.cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 0 9rem;
    }

    @media screen and (min-width: 1000px) {
        padding: 0 5rem;
        margin-left: 2rem;
    }

    @media screen and (min-width: 1230px) {
        grid-template-columns: repeat(3, 1fr);
        margin-left: -1rem;
    }

    @media screen and (min-width: 1400px) {
        gap: 3rem;
    }

    @media screen and (min-width: 1800px) {
        grid-template-columns: repeat(4, 1fr);
    }
}